# Experiment:
matplotlib
numpy
torch

git+git://github.com/wesselb/fdm@master#egg=fdm
git+git://github.com/wesselb/plum@master#egg=plum-dispatch
git+git://github.com/wesselb/lab@master#egg=backends
git+git://github.com/wesselb/varz@master#egg=varz
git+git://github.com/wesselb/wbml@master#egg=wbml
git+git://github.com/wesselb/matrix@master#egg=backends-matrix
git+git://github.com/wesselb/stheno@master#egg=stheno